#!/bin/bash
#
# @Author: Anne Philipp
#
# @Date: January 2018
#
# @Description: 
#    gitignore lists all directories and files which should 
#    not be versionized!!! 
#
# @Licence:
#    (C) Copyright 2014-2020.
#
#    SPDX-License-Identifier: CC-BY-4.0
#
#    This work is licensed under the Creative Commons Attribution 4.0
#    International License. To view a copy of this license, visit
#    http://creativecommons.org/licenses/by/4.0/ or send a letter to
#    Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
#
# -----------------------------------------------------------------

# these dirs and files shouldn't be versionized at any time in this project!!!
*.pyc
Source/Fortran/*.o
Source/Fortran/*.mod
Source/Fortran/calc_etadot*
*.tar*
Run/ECMWF_ENV
Run/Workspace/*
Run/Jobscripts/*sh
Testing/Installation/Calc_etadot/fort.15
For_developers/Sphinx/Build_temp

# Temporary ignorance of files!!!!
*anne.sh
Run/*anne.sh
Source/Fortran/pycallgraph.png
Source/Python/pylint_report_7.1.txt
Source/.metrics

# Testdata files: not for git storage
Testdata
Testing/Installation/Calc_etadot/VERTICAL.EC
Testing/Regression/Compare_gribfiles/7.0.4/
Testing/Regression/Compare_gribfiles/7.1/

Emoslib
Unused_input_files
Unused_output
